<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="ico/favicon.png">

	<title>My Projects</title>

	<link href="css/hover_pack.css" rel="stylesheet">

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css?a=1" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/main.css" rel="stylesheet">
	<link href="css/colors/color-74c9be.css" rel="stylesheet">    
	<link href="css/animations.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<% include navbar %>
	<div class = "container"> 
		<div class = "col-sm-8 col-sm-offset-2">
			<legend>Manage Projects</legend>
			<% var count = 1; %>
			<div class="panel-group" id="accordion">
				<% projects.forEach(function(entry){ %>
				<div class="panel panel-default">

					<a data-toggle="collapse" data-parent="#accordion">
						<div class="panel-heading">
							<h4 class="panel-title" style="color:black">
								<%=entry.title%>
							</h4>
						</div>
					</a>
					<div>
						<div class="panel-body" style="padding:22px; text-align:justify">
							<%=entry.description%>
							<br></br>
							<span style="color: #AAAAB3">Created</span> <time class="timeago" datetime="<%=entry.dateCreated.toISOString()%>" style="color: #AAAAB3"></time>
							<div class="row", style="float:right">
								<div class="col-xs-6">
									<a href="/viewproject/<%=entry.id%>">
										<button type="button" class="btn btn-warning btn-sm" >Edit <span class = "glyphicon glyphicon-pencil"></span> </button>
									</a>
								</div>

								<div class="col-xs-6">


										<button type="button" id="<%=entry.id%>" class="btn btn-danger btn-sm delete" >Delete <span class = "glyphicon glyphicon-remove"></span> </button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% count++; %>
				<%});%>
			</div>
		</div>
	</div>
	<script src = "js/jquery.js"></script>
	<script src="/js/jquery.timeago.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/retina.js"></script>
	<script>
									$('.delete').click(function(){
										var bool = confirm("Are you sure you want to delete this project?");
										if(bool)
										{
											window.location = ('/deleteproject/' +  $(this).attr('id'));
										}
									});
								</script>
	<script>
		$(document).ready(function() {
			//$.timeago.settings.allowFuture = true;
  			$("time.timeago").timeago();
		});
	</script>
</body>
</html>