<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <link href="css/hover_pack.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/colors/color-74c9be.css" rel="stylesheet">    
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <% include navbar %>
  <div class = "container">
  
  <div class = "row">
    <div class = "col-xs-4">
      <h3><%= user.facebook.name%></h3> 
      <p>
        <b>Email: </b><%= user.facebook.email%> <br>
        <b>Date Joined: </b><span class = "date-time"><%= user.timeCreated%></span>
      </p>
      <h5>Skills</h5>
      <ul>
      <% user.skills.forEach(function(skill){ %>
          <li><%= skill %></li>
      <%  });%>
      </ul>
      <h5>Projects</h5>
      <ul>
      <% docs.forEach(function(project){ %>
        <li><%= project.title %></li>
      <%});%>
      </ul>
    </div>

  </div>
  

  <!--title -->

  <!--projects created -->

  <!--projects interested -->

  <!--skills -->





  </div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/retina.js"></script>
  <script>
  var date = new Date($(".date-time").html());
  var day = date.getDate();
  var month = date.getMonth();
  var year = date.getFullYear();
  $(".date-time").html(day + "/" + month + "/" + year);
  </script>
</body>