<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="ico/favicon.png">

	<title>Projects</title>

	<link href="css/hover_pack.css" rel="stylesheet">

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css?a=1" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/main.css" rel="stylesheet">
	<link href="css/colors/color-74c9be.css" rel="stylesheet">    
	<link href="css/animations.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<div class = "container col-md-8 col-md-offset-2">
		<% include navbar %>
		<% var count = 1; %>
		<div class="panel-group" id="accordion">
		<% projects.forEach(function(entry){ %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=count%>">
							<span class = "glyphicon glyphicon-plus right"></span>
					</a>
					<h4 class="panel-title">
						<%=entry.title%>
						<span class="author">&nbsp;&nbsp;&nbsp; by <%=entry["creator"].facebook.name%></span>
					</h4>
				</div>
				<div id="collapse<%=count%>" class="panel-collapse collapse">
					<div class="panel-body">
						<%=entry.description%>
					</div>
				</div>
			</div>
		<% count++; %>
		<%});%>
		</div>

	</div>
	<script src = "js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/retina.js"></script>
</body>
</html>