<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="ico/favicon.png">

	<title>View Project </title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css?a=1" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/colors/color-74c9be.css" rel="stylesheet">    
	<link href="/css/animations.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<% include navbar %>
	<div class = "container"> 
		<div class = "col-sm-8 col-sm-offset-2  well well-lg" style="background-color:white">
			<legend><%=project.title%></legend>
			Created by <a href="/profile?userid=<%=project.creator._id%>"><%=project.creator.facebook.name%></a> <time class="timeago" datetime="<%=project.dateCreated.toISOString()%>"></time>
			<div style="float:right;padding-right:50px"><span class="fa fa-eye" ></span> <%=project.numViews%></div>
			<br><br>
			<h4>Project Description</h4>
			<p style="text-indent:20px; text-align:justify; padding-left:15px; padding-bottom:15px; padding-right:15px"><%=project.description%></p>
			<h4>Start Date:<small>&nbsp;&nbsp;&nbsp;&nbsp;<%=project.startDate%></small></span></h4><br>
			<h4>Looking for:&nbsp;&nbsp; <small><%=project.numPositions%> people for the job of <%=project.positionName%></small></h4>
			<br>
			<h4>Preferred Skills: </h4>
			<div style="-webkit-column-count:3;
			-moz-column-count:3; 
			column-count:3;">
			<ul>
				<%if (!project[0]) {%>
					<li> None </li>
				<%}%>
			<% project.preferredSkills.forEach(function(entry){ %>
				<li><%=entry%></li>

			<% }); %>
			</ul>
			</div>

			<div class="text-center" style="padding-top:50px"><a href="mailto:<%=project.creator.facebook.email%>"><button type="button" class="btn btn-primary" >I'm Interested! </button></a></div>



		</div>
	</div>
	<script src = "/js/jquery.js"></script>
	<script src="/js/jquery.timeago.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/retina.js"></script>
	<script>
		$(document).ready(function() {
			//$.timeago.settings.allowFuture = true;
  			$("time.timeago").timeago();
		});
	</script>
</body>
</html>