<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="/ico/favicon.ico">

	<title>View Project </title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css?a=1" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/colors/color-74c9be.css" rel="stylesheet">    
	<link href="/css/animations.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<% include navbar %>
	<div class = "container"> 
		<div class = "col-sm-8 col-sm-offset-2  well well-lg" style="background-color:white">
			<div class = "page-header">
				<h2><%=project['title']%></h2>
				Created by <a href="/profile?userid=<%=project.creator._id%>"><%=project.creator.facebook.name%></a> <time class="timeago" datetime="<%=project.dateCreated.toISOString()%>"></time>
				<div style="float:right;padding-right:50px"><span class="fa fa-eye" ></span> <%=project.numViews%></div>
			</div>
			<h4>Project Description</h4>
			<p><%=project.description%></p>
			<h4>Start Date</h4>
			<p><%=project.startDate%></p>
			<h4>Looking for</h4> <p><%=project.numPositions%> <%if(project.numPositions===1){
			%>person<%
			}else{
				%>people<%
			}%> for the job of <%=project.positionName%></small></h4>
			</p>
			<h4>Preferred Skills: </h4>
			<div style="-webkit-column-count:3;
			-moz-column-count:3; 
			column-count:3;">
			
				<%if (!project.preferredSkills[0]) {%>
					<p> None </p>
				<%}%>
			<ul>	
			<% project.preferredSkills.forEach(function(entry){ %>
				<li><%=entry%></li>

			<% }); %>
			</ul>
			</div>

			<% if(user._id != project.creator.id){%>
			
			<div class="text-center" style="padding-top:50px"><a href="mailto:<%=project.creator.facebook.email%>"><button type="button" class="btn btn-primary btn-sm%>" >I'm Interested! </button></a></div>
			<% } %>


		</div>
	</div>
	<script src = "/js/jquery.js"></script>
	<script src="/js/jquery.timeago.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/retina.js"></script>
	<script>
		$(document).ready(function() {
			//$.timeago.settings.allowFuture = true;
  			$("time.timeago").timeago();
		});
	</script>
</body>
</html>